@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");

// Global : mixin, variables, function
// @import 'stylesheet/variables/color';

$font-stack: "Julius Sans One", sans-serif;

// reset
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align {
  align-content: center;
}

.justify {
  justify-content: space-between;
}

.page {
  &-container {
    align-items: center;
    margin-top: 64px;
  }
  &-filler {
    height: calc(100vh - 64px);
  }
}

.loading {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    height: calc(100vh - 64px);
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  padding: 10px 30px 5px 30px;
  height: 64px;
  background-color: white;
}

// component styling
// @import 'stylesheet/members';
// @import 'stylesheet/label';
// @import 'stylesheet/card';
// @import 'stylesheet/modal';

// @import 'stylesheet/sidenav';
@import "stylesheet/header";
@import "stylesheet/record";
@import "stylesheet/dashboard";
@import "stylesheet/login";
@import "stylesheet/signup";
@import "stylesheet/front";
@import "stylesheet/uploader";
@import "stylesheet/selector";

// @import 'stylesheet/layout';

// page styleing
// @import 'stylesheet/login_page';

//timeline styling
// @import 'stylesheet/timeline';
