.dashboard {
  &-container {
    align-items: center;
    margin-top: 64px;
    height: calc(100vh - 64px);
  }
  &-box {
    padding: 30px 20px 0px 20px;
  }
  &-small {
    padding: 10px 20px 10px 20px;
  }
}
