.dashboard {
  &-box {
    padding: 15px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &-slided {
    margin: 0px 0px 0px 45vw;
  }
  &-small {
    padding: 10px 20px 10px 20px;
  }
  &-index {
    position: absolute;
    padding: 4px;
    z-index: 100;
    top: 4.6875rem;
    left: 0.625rem;
    width: 8.75rem;
    height: 10rem;
    font-size: 0.8rem;
    // background-color: rgba(133, 133, 133, 0.253);
    border-radius: 0.9rem;
    &-box {
      margin: 0px 0px 5px 0px;
    }
    &-tag {
      font-size: 0.4rem;
      padding: 4px;
      line-height: 12px;
      margin: 0px;
    }
    &-times {
      font-weight: bold;
    }
  }
  &-little {
    margin: 0px 10px 0px 10px;
  }
}
