.record {
  &-box {
    padding: 40px 20px 120px 20px;
    width: 100vw;
    height: calc(100vh - 64px);
  }
  &-date {
    &-row {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &-date {
      width: 100%;
    }
    &-time {
      width: 100%;
    }
  }
  &-radio {
    &-box {
      margin-top: 25px;
    }
    &-element {
      padding: 10px;
      &-button {
        width: 40vw;
        justify-content: center;
      }
    }
  }
}

.step {
  width: 100%;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 7px 0px 7px;
  }
  &-icon {
    width: 10%;
  }
  &-line {
    width: 35%;
  }
  &-string {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    z-index: 1000;
  }
  &-white {
    background-color: white;
  }
  &-blue {
    background-color: #1890ff;
    color: white;
  }
  &-dot {
    border-radius: 5px;
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  &-title {
    font-size: 0.5rem;
  }
}

.slider {
  &-container {
    margin: 20px;
  }
  &-1000 {
    padding: 10px;
  }
  &-1 {
    padding: 10px;
  }
  &-sum {
    margin: 30px;
  }
  &-self {
    height: 35vh;
  }
}

.result {
  &-row {
    margin: 8px;
  }
  &-button {
    margin-top: 35px;
    width: 150px;
  }
}

.ant-slider {
  &-track {
    width: 12px;
    background: linear-gradient(rgb(145, 213, 255), rgb(255, 221, 221), white);
  }
}

.green-yellow-bgc {
  background: linear-gradient(
    rgb(230, 255, 234),
    rgb(254, 254, 254),
    rgb(254, 254, 254),
    rgb(255, 255, 228)
  );
}

.yellow-blue-bgc {
  background: linear-gradient(
    rgb(255, 255, 228),
    rgb(254, 254, 254),
    rgb(254, 254, 254),
    rgb(230, 245, 253)
  );
}

.blue-violet-bgc {
  background: linear-gradient(
    rgb(230, 245, 253),
    rgb(254, 254, 254),
    rgb(254, 254, 254),
    rgb(251, 239, 255)
  );
}
