.selector {
  &-container {
    padding: 0px;
    width: 100vw;
    transition: 1s;
    position: absolute;
    top: calc(100vh - 64px);
    left: 0;
    height: 64px;
    overflow: hidden;
    background-color: snow;
    z-index: 1000;
  }
  &-open {
    transition: 1s;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
  }
  &-pseudoFooter {
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  &-time {
    // height: calc(60vh - 128px);
  }
  &-content {
    padding: 10px 20px 30px 20px;
  }
  &-controller {
    display: flex;
    height: 80%;
  }
  &-left {
    width: 70vw;
    height: 65vh;
    padding: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-right {
    width: 30vw;
    height: 65vh;
    padding: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &-submit {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-date {
    padding: 10px 0px 10px 0px;
  }
  &-cate {
    padding: 10px 0px 10px 0px;
  }
  &-avgs {
    padding: 10px 0px 10px 0px;
  }
  &-radio {
    &-button {
      width: 33.3%;
    }
    &-container {
      padding: 2px 0px 2px 0px;
    }
  }
}
