.uploader {
  &-circle {
    background-color: white;
    background-size: cover;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  &-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    z-index: 1000;
  }
  &-unvisible {
    opacity: 0;
  }
  &-img {
    image-orientation: from-image;
    width: 6rem;
    height: 6rem;
    max-width: 150px;
    max-height: 150px;
    border-radius: 3rem;
  }
}
